*{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  --background-color: rgb(247, 252, 252);
  --secondary-background-color: rgba(247, 252, 252, 0.742);
  --border-color: rgb(211, 211, 211);
  --text-color: rgb(70, 70, 70);
  --border-shadow: -1px -1px 5px rgb(147, 147, 147);
  --white-blurr-background-v1: rgba(255, 255, 255, 0.5);
  --white-blurr-background: rgba(255, 255, 255, 0.6);
  --text-font: 'Lucida Handwriting';
  --text-font2: 'Times New Roman';
  scroll-behavior: smooth;
  scrollbar-width: none;

}

/* apps main container.  */
.app-container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 40% 60%;
  background-color: var(--background-color);
}

.profile-container{
  height: 100%;
  width: 100%;
  /* border: 1px solid var(--border-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.content-container{
  height: 100%;
  width: 95%;
  /* border: 1px solid var(--border-color); */
  text-align: center;
  overflow-y: scroll;
  background-color: var(--background-color);
}