*{
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  --primary-color: rgb(68, 14, 107);
  --second-color: rgb(38, 10, 58);
  --hover-color:rgba(68, 14, 107, 0.077);
  scroll-behavior: smooth;
  scrollbar-width: none;

}

/* apps main container.  */
.app-container{
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 40% 60%;
}

.profile-container{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container{
  height: 100%;
  width: 100%;
  border: 1px solid black;
}