*{
    margin: 0;
    padding: 0;
}


.profile{
    height: auto;
    width: 70%;
    border: 1px solid var(--border-color);
    box-shadow: var(--border-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 20%;
}

.profile-picture{
    height: 300px;
    width: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.my-info{
    margin-bottom: 40px;
}

.name{
    font-family: 'Lucida Handwriting';
    color: var(--text-color);
    font-size: 2em;
    text-align: center;
}
.my-info-about{
    text-align: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.contact{
    height: 50px;
    width: 95%;
    border: 1px solid var(--border-color);
    box-shadow: var(--border-shadow);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    user-select: none;
}
.contact:hover{
    cursor: pointer;
    border-color: rgb(108, 108, 108);
}

.contact a{
    color: var(--text-color);
}