*{
    margin: 0;
    padding: 0;
}


.projects{
    height: 400px;
    width: 95%;
    border: 1px solid var(--border-color);
    box-shadow: var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}