*{
    margin: 0;
    padding: 0;  
}


.skills{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills-text{
    color: var(--text-color);
    font-size: 2.5em;
}